<h2>Emotions</h2>

<table class="admin markers">
  <thead>
    <tr>
      <th>id</th>
      <th>text</th>
      <th>icon</th>
      <th>markers</th>
      <th>updated</th>
      <th>delete</th>
    </tr>
  </thead>
<% @emotions.each do |@emotion| %>
  <tr>
    <td><%= @emotion.id %></td>
    <td><%= in_place_editor_field :emotion, :text, {}, :url => {:controller => :emotion, :action => :set_emotion_text, :id => @emotion.id} %></td>
    <td><%= in_place_editor_field :emotion, :icon, {}, :url => {:controller => :emotion, :action => :set_emotion_icon, :id => @emotion.id} %></td>
    <td><%= @emotion.markers.count %>
    <td><%= @emotion.updated_at %></td>
    <td>
      <% if @emotion.markers.count == 0 %>
          <% form_tag({:controller => :emotion, :action=> :delete}) do %>
            <%= hidden_field_tag 'emotion_id', @emotion.id %>
            <%= submit_tag 'Delete' %>
          <% end %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Add new emotion', {:controller => :emotion, :action => :new}, :rel => :facebox %></p>