<h2> Stats </h2>

There are:
<ul>
  <li><%= @markers.count %> <%= link_to 'markers', :action => :markers %></li>
  <li><%= @traces.count %> <%= link_to 'traces', :action => :traces %></li>
  <li><%= @scans.count %> <%= link_to 'scans', :action => :scans %></li>
  <li><%= @schools.count %> <%= link_to 'schools', :action => :schools %></li>
  <li><%= @modes.count %> <%= link_to 'modes', :action => :modes %></li>
</ul>