<h2> Stats </h2>

<p>There are:</p>
<ul>
  <li><%= link_to (pluralize @markers.count, 'marker'), :action => :markers %></li>
  <li><%= link_to (pluralize @traces.count, 'trace'), :action => :traces %></li>
  <li><%= link_to (pluralize @scans.count, 'scan'), :action => :scans %></li>
  <li><%= link_to (pluralize @schools.count, @current_project.location_text), :action => :schools %></li>
  <li><%= link_to (pluralize @modes.count, 'mode'), :action => :modes %></li>
  <li><%= link_to (pluralize @emotions.count, 'emotion'), :action => :emotions %></li>
</ul>

<h2>Other <%= is_admin ? 'Admin' : 'Reviewer' %> tasks</h2>
<ul>
  <li><%= link_to 'List aliases', :action => :aliases %></li>
  <% if is_admin %>
    <li><%= link_to (is_admin ? 'Change Settings': 'View Settings'), :action => :settings %></li>
  <% end %>
</ul>