<% emotions = {'happy' => 'positive.png',
                'neutral' => 'neutral.png',
                'sad' => 'negative.png'} %>

<h2>Markers</h2>
<%= link_to 'Download all markers (kml)', {:controller => :marker, :action => :all, :format => :kml} %>

<table class="admin">
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>emotion</th>
      <th>lat</th>
      <th>lon</th>
      <th>text</th>
      <th>user</th>
      <th>uploaded</th>
    </tr>
  </thead>
<% @markers.each do |@marker| %>
  <tr>
    <td>
      <% form_tag({:action => :marker_delete}) do %>
        <%= hidden_field_tag 'marker_id', @marker.id %>
        <%= submit_tag 'Delete' %>
      <% end %>
    </td>
    <td><%= @marker.id %></td>
    <td><%= image_tag emotions[@marker.emotion] %>
    <td><%= "%.2f" % @marker.lat %></td>
    <td><%= "%.2f" % @marker.lon %></td>
    <td><%= in_place_editor_field :marker, :text, {}, :url => {:controller => :marker, :action => :set_marker_text, :id => @marker.id} %></td>
    <td><%= @marker.user_id %></td>
    <td><%= @marker.created_at %></td>
  </tr>
<% end %>
</ul>