<h2>Markers</h2>
<%= link_to 'Download all markers (kml)', {:controller => :marker, :action => :all, :format => :kml} %>

<table class="admin markers">
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>emotion</th>
      <th>position</th>
      <th>text</th>
      <th>user</th>
      <th>uploaded</th>
    </tr>
  </thead>
<% @markers.each do |@marker| %>
  <tr>
    <td>
      <% if is_admin %>
        <% form_tag({:action => :marker_delete}) do %>
          <%= hidden_field_tag 'marker_id', @marker.id %>
          <%= submit_tag 'Delete' %>
        <% end %>
      <% end %>
    </td>
    <td><%= @marker.id %></td>
    <% if is_admin %>
      <td><%= in_place_collection_editor_field :marker, :emotion_text, @emotions.collect{|e| [e.text,e.id]}, {}, :url => {:controller => :marker, :action => :set_marker_emotion, :id => @marker.id} %></td>
    <% else %>
      <td><%= @marker.emotion_text %></td>
    <% end %>
    <td><%= link_to ("%.2f,&nbsp;%.2f" % [@marker.lat, @marker.lon]), {:controller => :site, :action => :index, :lat => @marker.lat, :lon => @marker.lon, :zoom => 16} %></td>
    <% if is_admin %>
      <td><%= in_place_editor_field :marker, :text, {}, :url => {:controller => :marker, :action => :set_marker_text, :id => @marker.id} %></td>
    <% else %>
      <td><%= @marker.text %></td>
    <% end %>
    <td><%= @marker.user_id %></td>
    <td><%= @marker.created_at %></td>
  </tr>
<% end %>
</table>