<h2>Modes</h2>
<table class="admin">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Traces</th>
      <th>Scans</th>
      <th>Updated</th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @modes.each do |@mode| %>
  <tr>
    <td><%= @mode.id %></td>
    <td><a id="edit_name_<%= @mode.id %>" class="external_control">¤</a><%= in_place_editor_field :mode, :name, {}, {:url => {:controller => :mode, :action => :set_mode_name, :id => @mode.id}, :external_control => "edit_name_#{@mode.id}"} %></td>
    <td><%= @mode.traces.count %></td>
    <td><%= @mode.shadow_scans.count %></td>
    <td><%= @mode.updated_at %></td>
    <td><% if @mode.traces.count == 0 && @mode.shadow_scans.count == 0 %>
          <% form_tag({:controller => :mode, :action=> :delete}) do %>
            <%= hidden_field_tag 'mode_id', @mode.id %>
            <%= submit_tag 'Delete' %>
          <% end %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'Add new mode', {:controller => :mode, :action => :new}, :rel => :facebox %></p>