<h2><%= Settings.location_text.capitalize.pluralize %></h2>
<table class="admin">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Traces</th>
      <th>Scans</th>
      <th>Updated</th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @schools.each do |@school| %>
  <tr>
    <td><%= @school.id %></td>
    <td><a id="edit_name_<%= @school.id %>" class="external_control">¤</a><%= in_place_editor_field :school, :name, {}, {:url => {:controller => :school, :action => :set_school_name, :id => @school.id}, :external_control => "edit_name_#{@school.id}"} %></td>
    <td><a id="edit_lat_<%= @school.id %>" class="external_control">¤</a><%= in_place_editor_field :school, :lat, {}, {:url => {:controller => :school, :action => :set_school_lat, :id => @school.id}, :external_control => "edit_lat_#{@school.id}"} %></td>
    <td><a id="edit_lon_<%= @school.id %>" class="external_control">¤</a><%= in_place_editor_field :school, :lon, {}, {:url => {:controller => :school, :action => :set_school_lon, :id => @school.id}, :external_control => "edit_lon_#{@school.id}"} %></td>
    <td><%= @school.traces.count %></td>
    <td><%= @school.shadow_scans.count %></td>
    <td><%= @school.updated_at %></td>
    <td><% if @school.traces.count == 0 && @school.shadow_scans.count == 0 %>
          <% form_tag({:controller => :school, :action=> :delete}) do %>
            <%= hidden_field_tag 'school_id', @school.id %>
            <%= submit_tag 'Delete' %>
          <% end %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'Add new '+Settings.location_text, {:controller => :school, :action => :new}, :rel => :facebox %></p>