<table>
  <tr>
    <td class="navtab">
      <ul id="tabnav">
        <li><a href="#" class="active">All</a></li>
        <li><a href="#">Car</a></li>
        <li><a href="#">Walking</a></li>
        <li><a href="#">Cycling</a></li>
        <li><a href="#">Public Transport</a></li>
      </ul>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("about.png", :alt => 'About')+'About this project', {:controller => :site, :action => :about}, :rel => :facebox %></div>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("logout.png", :alt => 'Logout')+'Log out', :controller => :site, :action => :logout %></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--

  function post_init() {
    <% if @overlay_url %>
      var overlay = new OpenLayers.Layer.TMS("Overlay", 
                                        ["<%= @overlay_url %>"],
                                        { type: 'jpg', getURL: getTileURL, displayOutsideMaxExtent: true,
                                          transitionEffect: 'resize', isBaseLayer: false});
      map.addLayer(overlay);
    <% end %>
    <% if @showtrace %>
      var bbox = new OpenLayers.Bounds(<%= @trace.min_lon %>, <%= @trace.min_lat %>, <%= @trace.max_lon %>, <%= @trace.max_lat %>);
      setMapExtent(bbox);
      var trace = new OpenLayers.Layer.GML("GPS trace", "/trace/kml/<%= @trace.id %>",
        {
        format: OpenLayers.Format.KML,
        projection: map.displayProjection,
        formatOptions: {
          extractStyles: false, 
          extractAttributes: true,
          maxDepth: 2
        },
        styleMap: new OpenLayers.StyleMap({ strokeWidth: 9, strokeColor: '#0000ff', strokeOpacity: 0.7 })
        });
      map.addLayer(trace);
    <% end %>
    map.addLayer(newmarkers);
    map.addLayer(markers);

    for(var key in controls) {
        map.addControl(controls[key]);
    }
    controls['selector'].activate();
    // refresh the map so that it fetches the layers.
    map.setCenter(map.getCenter());
    
    map.events.register("moveend", map, updatePrintLinks);
    updatePrintLinks();
    

  }
 
  function updatePrintLinks() {
    center = map.getCenter().clone();
    center.transform(map.getProjectionObject(), map.displayProjection);
//     $('north').value = center.lat;
//     $('south').value = center.lat;
//     $('east').value = center.lon;
//     $('west').value = center.lon;
    centerpx = map.getViewPortPxFromLonLat(map.getCenter());
    // These magic numbers are what Walking Paper uses to size the preview
    // when making the map, hardcoded for landscape a4. Who knows how it 
    // actually works.
    tl = new OpenLayers.Pixel(centerpx.x-240, centerpx.y-151);
    br = new OpenLayers.Pixel(centerpx.x+240, centerpx.y+151);
    nw = map.getLonLatFromPixel(tl);
    se = map.getLonLatFromPixel(br);
    nw.transform(map.getProjectionObject(), map.displayProjection);
    se.transform(map.getProjectionObject(), map.displayProjection);
    $('north').value = nw.lat;
    $('west').value = nw.lon;
    $('south').value = se.lat;
    $('east').value = se.lon;
    $('zoom').value = map.getZoom();
  }
  
  function showMarkerDialog() {
    $('sidebar-menu').hide();
    $('marker_form').hide();
    $('sidebar-marker').show();
    addMarker();
  }
  
  function showPrintDialog() {
    $('sidebar-menu').hide();
    $('sidebar-print').show();
  }
  
  function onMarkerSubmit() {
    $('marker_save').disable();
    $('marker_save').value = 'Saving...';
  }
  
  function onTraceSubmit() {
    $('trace_save').disable();
    $('trace_save').value = 'Uploading ...';
  }
  // -->
</script>

<div>
  <div id="map"></div>
  <div id="sidebar">
  
    <div id="sidebar-menu" class="sidebarbox">
      <a href="#" onclick="showMarkerDialog()" class="sidebarlink"><%= image_tag 'marker.png' %>Add Experience Marker</a><br />
      <%= link_to (image_tag 'gps.png')+'Upload GPS Track', {:controller => :trace, :action => :upload}, :rel => :facebox, :class => :sidebarlink %><br />
      <%= link_to (image_tag 'sketchupload.png')+'Upload Sketch Map Scan', WP_URL + 'upload.php', :class => :sidebarlink %><br />
      <a href="#" onclick="showPrintDialog()" class="sidebarlink"><%= image_tag 'print.png' %>Print Map For Sketching</a><br />
    </div>
    
    <div id="sidebar-marker" class="sidebarbox" style="display:none">
      <span id="tMap" style="">First, click on the map where you had the experience.</span>
      <span id="tMarker" style="display:none">You can drag the marker around. Then answer the questions and press save.</span>
      <% form_tag({:controller=> 'marker', :action => 'save'}, {:id => 'marker_form', :onsubmit => 'onMarkerSubmit();'}) do %>
        <%= hidden_field_tag 'lat' %>
        <%= hidden_field_tag 'lon' %>
        <p>1. How was the experience?</p>
        <% ['happy','neutral','sad'].each do |emotion| %>
          <%= radio_button_tag 'emotion', emotion, (emotion == 'neutral') %>
          <%= label_tag "emotion_#{emotion}", emotion %><br />
        <% end %>
        <p>2. Enter a text description</p>
        <%= text_area_tag 'text' %>
        <%= submit_tag 'Save', :id => :marker_save %><span style="float:right"><%= link_to 'Cancel', :action => :edit %></span>
      <% end %>
    </div>
    
    <div id="sidebar-print" class="sidebarbox" style="display:none">
      Print the section of the map you are looking at.
      <% form_tag(WP_URL + 'compose.php', {:id => 'wp_form'}) do %>
        <%= hidden_field_tag 'north', '51' %>
        <%= hidden_field_tag 'south', '51' %>
        <%= hidden_field_tag 'east', '-1' %>
        <%= hidden_field_tag 'west', '-1' %>
        <%= hidden_field_tag 'zoom', '16' %>
        <%= hidden_field_tag 'provider', 'http://tile.openstreetmap.org/{Z}/{X}/{Y}.png' %>
        <%= hidden_field_tag 'paper', 'landscape-a4' %>
        <%= submit_tag 'Print' %>
      <% end %>
    </div>
    
    <div id="sidebar-stats" class="sidebarbox">
      <p>You've saved <%= @user.markers.count %> experience <%= @user.markers.count == 1 ? 'marker' : 'markers' %> 
      and <%= @user.traces.count %> GPS <%= @user.traces.count == 1 ? 'trace' : 'traces'%></p>
    </div>
  </div>
</div>