<table>
  <tr>
    <td class="navtab">
      <ul id="tabnav">
        <li><a href="#" class="active">All</a></li>
        <li><a href="#">Car</a></li>
        <li><a href="#">Walking</a></li>
        <li><a href="#">Cycling</a></li>
        <li><a href="#">Public Transport</a></li>
      </ul>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("about.png", :alt => 'About')+'About this project', :controller => :site, :action => :about %></div>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("login.png", :alt => 'Login')+'Log in', :controller => :site, :action => :login %></div>
    </td>
  </tr>
</table>
<script type="text/javascript">
  <!--
  function post_init() {
    map.addLayer(traces);
    map.addLayer(markers);
    map.setCenter(map.getCenter());
  }
  //-->
</script>

<div>
  <div id="map"></div>
  <div id="sidebar">
    <p>Zoom to a school:</p>
    <ul>
      <% @schools.each do |school| %>
        <li><a href="#" onclick="map.setCenter(lonLatToMercator(new OpenLayers.LonLat(<%= school.lon %>,<%= school.lat %>)));map.zoomTo(17);"><%= school.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>