<table>
  <tr>
    <td class="navtab">
      <%= render :partial => 'tabnav', :locals => {:mode => @mode} %>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("about.png", :alt => 'About')+'About this project', {:controller => :site, :action => :about}, :rel => :facebox %></div>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("login.png", :alt => 'Login')+'Log in', {:controller => :site, :action => :logindialog}, :rel => :facebox %></div>
    </td>
  </tr>
</table>
<script type="text/javascript">
  <!--
  function post_init() {
    <% if @mode %>
      map.addLayer(getTraces("<%=h @mode %>"));
    <% else %>
      map.addLayer(getTraces());
    <% end %>
    map.addLayer(markers);
    map.addControl(controls['selector']);
    controls['selector'].activate();
    map.setCenter(map.getCenter());
  }
  //-->
</script>

<div>
  <div id="map"></div>
  <div id="sidebar">
    <p>Zoom to a school:</p>
    <ul>
      <% @schools.each do |school| %>
        <li><a href="#" onclick="map.setCenter(lonLatToMercator(new OpenLayers.LonLat(<%= school.lon %>,<%= school.lat %>)));map.zoomTo(17);"><%= school.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>