<table>
  <tr>
    <td class="navtab">
      <%= render :partial => 'tabnav', :locals => {:mode => @mode, :modes => @modes} %>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("about.png", :alt => 'About')+'About this project', {:controller => :site, :action => :about}, :rel => :facebox %></div>
    </td>
    <td>
      <div class="iconlink"><%= link_to image_tag("login.png", :alt => 'Login')+'Log in', {:controller => :site, :action => :logindialog}, :rel => :facebox %></div>
    </td>
  </tr>
</table>
<script type="text/javascript">
  <!--
  function post_init() {

    var overlay = new OpenLayers.Layer.TMS("All Scans",
                                      ["<%= (WP_URL+'files/scans/composite/'+ (@mode ? "mode_#{@mode.id}" : 'all') +'/') %>"],
                                      { type: 'png', getURL: getTileURL, displayOutsideMaxExtent: true,
                                        transitionEffect: 'resize', isBaseLayer: false});
    map.addLayer(overlay);

    <% if @mode %>
      map.addLayer(getTraces("<%=h @mode.id %>"));
    <% else %>
      map.addLayer(getTraces());
    <% end %>
    map.addLayer(markers);
    map.addControl(controls['selector']);
    controls['selector'].activate();
    if (layers) {
      setMapLayers(layers);
    }
    map.setCenter(map.getCenter());
  }
  //-->
</script>

<div>
  <div id="map"></div>
  <div id="sidebar">
    <p>Zoom to a school:</p>
    <ul>
      <% @schools.each do |school| %>
        <li><a href="#" onclick="map.setCenter(lonLatToMercator(new OpenLayers.LonLat(<%= school.lon %>,<%= school.lat %>)));map.zoomTo(17);"><%= school.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>