<h1>Viewing trace <%= @trace.id %></h1>

<script type="text/javascript">
  <!--
  function init(){
    var centre = lonLatToMercator( new OpenLayers.LonLat(0, 53.8));
    var zoom = 6;
    var map = createMap("map", centre, zoom);
    // OpenLayers.Bounds(min_lon, min_lat, max_lon, max_lat);
    var bbox = new OpenLayers.Bounds(<%= @trace.min_lon %>, <%= @trace.min_lat %>, <%= @trace.max_lon %>, <%= @trace.max_lat %>);
    setMapExtent(bbox);
    map.addLayer(new OpenLayers.Layer.GML("GPX trace", "/trace/kml/<%= @trace.id%>",
        {
        format: OpenLayers.Format.KML, 
        projection: map.displayProjection,
        formatOptions: {
          extractStyles: false, 
          extractAttributes: true,
          maxDepth: 2
        },
        styleMap: new OpenLayers.StyleMap({ strokeWidth: 9, strokeColor: '#0000ff', strokeOpacity: 0.7 })
        }));

    map.addLayer(newmarkers);
    map.addLayer(markers);

    for(var key in controls) {
        map.addControl(controls[key]);
    }
    controls['selector'].activate();
  }
  // -->
</script>


Original filename: <%= @trace.file_name %><br />
<div id="map"></div>
<div id="sidebar">
  <%= link_to "Upload Another", :action => :upload %><br/><br />
  <span onclick="addMarker();" id="tClick">Click here to add marker</span>
  <span id="tMap" style="display:none">Now click on the map</span>
  <span id="tMarker" style="display:none">Move marker or press save</span>
  <% form_tag ({:controller=> 'marker', :action => 'save'}, {:id => 'marker_form'}) do %>
    <%= hidden_field_tag 'lat' %>
    <%= hidden_field_tag 'lon' %>
    <%= hidden_field_tag 'trace_id', @trace.id %>
    <%= text_area_tag 'text' %>
    <% ['happy','neutral','sad'].each do |emotion| %>
      <%= radio_button_tag 'emotion', emotion, (emotion == 'neutral') %>
      <%= label_tag "mode_#{emotion}", emotion %><br />
    <% end %>
    <%= submit_tag 'save' %>
  <% end %>
</div>
