<h1>Viewing trace <%= @trace.id %></h1>

<script type="text/javascript">
  <!--
  function init(){
    var centre = lonLatToMercator( new OpenLayers.LonLat(0, 53.8));
    var zoom = 6;
    var map = createMap("map", centre, zoom);
    // OpenLayers.Bounds(min_lon, min_lat, max_lon, max_lat);
    var bbox = new OpenLayers.Bounds(<%= @trace.min_lon %>, <%= @trace.min_lat %>, <%= @trace.max_lon %>, <%= @trace.max_lat %>);
    setMapExtent(bbox);
    map.addLayer(new OpenLayers.Layer.GML("GPX trace", "/trace/kml/<%= @trace.id%>",
        {
        format: OpenLayers.Format.KML, 
        projection: map.displayProjection,
        formatOptions: {
          extractStyles: false, 
          extractAttributes: true,
          maxDepth: 2
        },
        styleMap: new OpenLayers.StyleMap({ strokeWidth: 9, strokeColor: '#0000ff', strokeOpacity: 0.7 })
        }));

  }
  // -->
</script>


Original filename: <%= @trace.file_name %><br />
<div id="map"></div>
<div id="sidebar">
  <%= link_to "Upload Another", :action => :upload %><br/><br />
</div>
